## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user
.vs/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/

## Visual Studio cache/options
.vscode/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/

## Rider
.idea/
*.sln.iml

# macOS
.DS_Store
runtimes/